body {
    background-color: black;
}

#content {
    max-width: 800px;
    margin: auto;
    border: 1px solid White ;
    color: White ;
    padding: 50px;
    font-family: "Lucida Console", Monaco, monospace;
}

#logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%;
}

#descr-short {
    text-align: center;
    font-size: 190%;
}

#descr-full {
    text-align: center;
    font-size: 120%;
}

#screenshots {
    margin: auto;
    text-align: center;
}

#screenshot-img {
    width: 35%;
    height: 35%;
}
