body {
    background-color: black;
}

#content {
	max-width: 75%;
	margin: auto;
    padding: 20px;
    font-family: "Lucida Console", Monaco, monospace;
}

#logo-img {
	display: block;
	float: left;
	padding: 10px;
    width: 20%;
}

#descr-short {
    text-align: center;
	text-shadow: 5px 5px 4px SteelBlue;
	margin-top: 8%;
	margin-bottom: 8%;
    font-size: 200%;
}

#descr-full {
    text-align: center;
    font-size: 120%;
}

.col > div {
    background-color: LightSteelBlue;
}

.card-img-top > img {
    width: 20%;
}
